/* Estilos específicos para a página HOME */

.hero {
    background-color: rgb(253, 155, 90);
    color: var(--white-color);
    padding: 3rem 0;
    text-align: center;
    object-fit: cover
}

.hero h1 {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.hero-image {
    width: 100%;
    height: 300px;
    background-color: #004a6e;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}